Django==1.4
django-helper==0.8.1
django-lb-attachments==0.8
django-onlineuser==0.8.7
django-simple-avatar==0.8.1
BeautifulSoup==3.2.1
postmarkup==1.2.0
django-pagination==1.0.7
PIL==1.1.7
south==0.8.1
